header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
    font-weight: bold;
    color:red;
}
header nav {
    display: flex;
    gap: 0.5rem;
}
.user-controls  {
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.user-controls img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.user-controls input {
    background-image: url(assets/searching-magnifying-glass.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 97%;
    padding-right: 8%;
    width: 60%;
}


main {
    aspect-ratio: 5/3;
    border: 1px solid red;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main .movie-rating i {
    color: red;
}
main .movie-statics {
    display: flex;
    gap:.5rem;
    align-items: center;
}
main .age-rating {
    border: 1px solid black;
    border-radius: .25rem;
    padding: .1rem;

}
main .movie-description {
    width: 60%;
}
.movie-details {
    margin-bottom: 2rem;
}
.movie-details span {
    color: red;
    font-weight: bold;
}
.movie-details p {
    margin: .3rem 0;
}

.btn-play {
    text-decoration: none;
    color: white;
    background: red;
    padding: .5rem 2rem;
    border-radius: .5rem;
}
.btn-play i {
    margin-left: -1rem;
}
.suggestion-heading{ 
    display: flex;
    justify-content: space-between;
}
.suggestion-heading h2 {


}
.suggestion-heading a {
    text-decoration: none;
    color: black;
}
.suggestion-container {
    display: flex;
    justify-content: space-between;
    gap:1rem;
    overflow: auto;
    padding-bottom: 1rem;
}

.suggestion-item {
    border: 1px solid black;
    padding: .8rem;
    min-width: 40%;
}

.suggestion-item a {
    display: inline-block;
}
.suggestion-movie-details {
    display: flex;
    gap:.8rem;
    align-items: center;
    margin-bottom:.8rem ;
}
.suggestion-item .btn-play {
   padding: .5rem 1.5rem;
   font-size: .9rem;
}
footer {
    display: flex;
}
footer h4 {
    margin: 0;
    font-size: 1rem;
}
.footer-links {
    width: 70%;
}
footer nav {
    display: flex;
    gap:2rem;
}
.social-media {
    display: flex;
    gap: .2rem;
}
.store-links {
    flex-grow: 1;
}
.store-links a {
    display: block;
    aspect-ratio: 4.7/1.4;
    width: 100px;
    background-color: red; 
    background-image: url(assets/pngegg.png);
    background-repeat: no-repeat;
   
}
.appStore {
    background-position: -10px -48px;
    background-size: 120px;
}
.googlePlay {
    background-position: -10px -9px;
    background-size: 120px;
}